PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=outfit_planner
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_contraseña_postgres

JWT_SECRET=clave_super_secreta_muy_muy_mucho
JWT_EXPIRES_IN=7d

REMOVE_BG_API_KEY=tu_api_key
OPENAI_API_KEY=tu_api_key
OPENWEATHER_API_KEY=tu_api_key