@font-face {
  font-family: 'BookmaniaGit'; /* Le ponemos nombre nuevo para evitar caché */
  src: url('./assets/fonts/bookmania-bold-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;